@font-face {
    font-family: 'Palm Canyon Drive';
    src: url('../fonts/subset-PalmCanyonDrive-Regular.eot');
    src: local('Palm Canyon Drive Regular'), local('PalmCanyonDrive-Regular'),
        url('../fonts/subset-PalmCanyonDrive-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-PalmCanyonDrive-Regular.woff2') format('woff2'),
        url('../fonts/subset-PalmCanyonDrive-Regular.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}