html,
body {
	position: relative;
	height: 100%;
}xq
html {
	scroll-behavior: smooth;
}
body {
	padding: 0;
	margin: 0 auto;
	background-color: white;
	font-family: $aaux;
	-webkit-overflow-scrolling: touch;
	overscroll-behavior-y: none !important;
	color: #000000;
	overflow-x: hidden;
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
main{
	overflow-x: hidden;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

a {
	color: #000000;;
	text-decoration: none;
	&:hover {
		color: $accent;
	}
}

//Removing input background color for chrome autocomplete
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 9999s ease-out, color 9999s ease-out;
	-webkit-text-fill-color: currentColor !important;
	transition-delay: 9999s;
}
//Rewrite user agent focus
:focus {
	// outline: $black auto 1px;
	outline: none !important;
}



.dividers {
	@include padding-top(3rem);
	@include padding-bottom(3rem);
	@include media-breakpoint-up(lg) {
		@include padding-top(4rem);
		@include padding-bottom(3rem);
	}
	@include media-breakpoint-up(xl) {
		@include padding-top(6rem);
		@include padding-bottom(6rem);
	}
}

.divider-discover-gold{
	background-image: url("data:image/svg+xml,%3Csvg width='68' height='72' viewBox='0 0 68 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M67.99 0H43.1961H24.7838H0V72H24.7939H43.2061H68V0H67.99ZM24.7939 4.24H43.2061V23.83L33.995 33L24.7939 23.83V4.24ZM2.12719 4.24H20.5395V22.59H2.12719V4.24ZM20.5395 67.76H2.12719V49.41H20.5395V67.76ZM21.7837 45.18H2.12719V26.83H21.7837L30.9848 36L21.7837 45.18ZM43.1961 67.76H24.7838V48.17L33.9849 39L43.1861 48.17V67.76H43.1961ZM65.8628 67.76H47.4505V49.41H65.8628V67.76ZM65.8628 45.18H46.2063L37.0052 36L46.2063 26.83H65.8628V45.18ZM47.4505 22.59V4.24H65.8628V22.59H47.4505V22.59Z' fill='%23AC7D2C'/%3E%3C/svg%3E%0A");
	background-repeat: repeat-x;
	background-position: top left;
	height: 72px;
	width: 100%;
}
.divider-discover-green{
	background-image: url("data:image/svg+xml,%3Csvg width='68' height='72' viewBox='0 0 68 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M67.99 0H43.1961H24.7838H0V72H24.7939H43.2061H68V0H67.99ZM24.7939 4.24H43.2061V23.83L33.995 33L24.7939 23.83V4.24ZM2.12719 4.24H20.5395V22.59H2.12719V4.24ZM20.5395 67.76H2.12719V49.41H20.5395V67.76ZM21.7837 45.18H2.12719V26.83H21.7837L30.9848 36L21.7837 45.18ZM43.1961 67.76H24.7838V48.17L33.9849 39L43.1861 48.17V67.76H43.1961ZM65.8628 67.76H47.4505V49.41H65.8628V67.76ZM65.8628 45.18H46.2063L37.0052 36L46.2063 26.83H65.8628V45.18ZM47.4505 22.59V4.24H65.8628V22.59H47.4505V22.59Z' fill='%235C7566'/%3E%3C/svg%3E%0A");
	background-repeat: repeat-x;
	background-position: top left;
	height: 72px;
	width: 100%;
}
.divider-discover-blue{
	background-image: url("data:image/svg+xml,%3Csvg width='68' height='72' viewBox='0 0 68 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M67.99 0H43.1961H24.7838H0V72H24.7939H43.2061H68V0H67.99ZM24.7939 4.24H43.2061V23.83L33.995 33L24.7939 23.83V4.24ZM2.12719 4.24H20.5395V22.59H2.12719V4.24ZM20.5395 67.76H2.12719V49.41H20.5395V67.76ZM21.7837 45.18H2.12719V26.83H21.7837L30.9848 36L21.7837 45.18ZM43.1961 67.76H24.7838V48.17L33.9849 39L43.1861 48.17V67.76H43.1961ZM65.8628 67.76H47.4505V49.41H65.8628V67.76ZM65.8628 45.18H46.2063L37.0052 36L46.2063 26.83H65.8628V45.18ZM47.4505 22.59V4.24H65.8628V22.59H47.4505V22.59Z' fill='%23ADC7CF'/%3E%3C/svg%3E%0A");
	background-repeat: repeat-x;
	background-position: top left;
	height: 72px;
	width: 100%;
}

.divider-stay-green{
	background-image: url("data:image/svg+xml,%3Csvg width='68' height='72' viewBox='0 0 68 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0V72H67.76V0H0ZM2.12 4.24001H31.68C30.63 20.07 17.94 32.75 2.12 33.8V4.24001ZM2.12 67.76V38.2C17.95 39.25 30.63 51.94 31.68 67.76H2.12ZM12.16 36C22.24 32.37 30.25 24.36 33.88 14.28C37.51 24.36 45.52 32.37 55.6 36C45.52 39.63 37.51 47.64 33.88 57.72C30.25 47.64 22.24 39.63 12.16 36ZM65.64 67.76H36.08C37.13 51.93 49.82 39.25 65.64 38.2V67.76ZM65.64 33.8C49.81 32.75 37.13 20.06 36.08 4.24001H65.64V33.8Z' fill='%235C7566'/%3E%3C/svg%3E%0A");
	background-repeat: repeat-x;
	background-position: top left;
	height: 72px;
	width: 100%;
}

.divider-blue {
	background-image: url("data:image/svg+xml,%3Csvg width='86' height='85' viewBox='0 0 86 85' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M53.3373 0H31.6694H0V31.6743V53.3375V85H31.6812H53.3491H85.0185V53.3375V31.6743V0H53.3373ZM80.0118 5.00556V26.6688H58.3439V5.00556H80.0118ZM53.3373 5.00556V28.1326L42.5092 38.9583L31.6812 28.1326V5.00556H53.3373ZM5.00665 5.00556H26.6745V26.6688H5.00665V5.00556ZM5.00665 31.6743H28.1388L38.9668 42.5L28.1388 53.3257H5.00665V31.6743ZM5.00665 79.9944V58.3312H26.6745V79.9944H5.00665ZM31.6812 79.9944V56.8674L42.5092 46.0417L53.3373 56.8674V79.9944H31.6812ZM80.0118 79.9944H58.3439V58.3312H80.0118V79.9944ZM80.0118 53.3375H56.8797L46.0517 42.5L56.8797 31.6743H80.0118V53.3375Z' fill='%235C7566'/%3E%3C/svg%3E%0A");
	background-repeat: repeat-x;
	background-position: top left;
	height: 85px;
	width: 100%;
}
.divider-light-blue {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='86' height='85' fill='none'%3E%3Cpath fill='%23ADC7CF' d='M53.3373 0H0v85h85.0185V0H53.3373zm26.6745 5.00556V26.6688H58.3439V5.00556h21.6679zm-26.6745 0V28.1326L42.5092 38.9583l-10.828-10.8257V5.00556h21.6561zm-48.33065 0H26.6745V26.6688H5.00665V5.00556zm0 26.66874H28.1388L38.9668 42.5l-10.828 10.8257H5.00665V31.6743zm0 48.3201V58.3312H26.6745v21.6632H5.00665zm26.67455 0v-23.127l10.828-10.8257 10.8281 10.8257v23.127H31.6812zm48.3306 0H58.3439V58.3312h21.6679v21.6632zm0-26.6569H56.8797L46.0517 42.5l10.828-10.8257h23.1321v21.6632z'/%3E%3C/svg%3E");
	background-repeat: repeat-x;
	background-position: top left;
	height: 85px;
	width: 100%;
}
.divider-green {
	background-image: url("data:image/svg+xml,%3Csvg width='68' height='72' viewBox='0 0 68 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M67.76 0H43.05H24.7H0V72H24.71H43.06H67.77V0H67.76ZM24.71 4.24H43.06V23.83L33.88 33L24.71 23.83V4.24ZM2.12 4.24H20.47V22.59H2.12V4.24ZM20.47 67.76H2.12V49.41H20.47V67.76ZM21.71 45.18H2.12V26.83H21.71L30.88 36L21.71 45.18ZM43.05 67.76H24.7V48.17L33.87 39L43.04 48.17V67.76H43.05ZM65.64 67.76H47.29V49.41H65.64V67.76ZM65.64 45.18H46.05L36.88 36L46.05 26.83H65.64V45.18ZM47.29 22.59V4.24H65.64V22.59H47.29Z' fill='%235C7566'/%3E%3C/svg%3E%0A");
	background-repeat: repeat-x;
	background-position: top left;
	height: 85px;
	width: 100%;
}
.divider-contact {
	background-image: url("data:image/svg+xml,%3Csvg width='136' height='72' viewBox='0 0 136 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M111.05 72H135.76V0H115.29H111.05H68V72H111.05ZM115.29 49.41V4.24001H133.64V67.76H115.29V49.41V49.41ZM70.12 4.24001H111.05V45.17H70.12V4.24001ZM70.12 49.41H111.05V67.76H70.12V49.41Z' fill='%235C7566'/%3E%3Cpath d='M24.71 0H0V72H20.47H24.71H67.76V0H24.71ZM20.47 22.59V67.76H2.12V4.24001H20.47V22.59V22.59ZM65.64 67.76H24.71V26.83H65.64V67.76ZM65.64 22.59H24.71V4.24001H65.64V22.59Z' fill='%235C7566'/%3E%3C/svg%3E%0A");
	background-repeat: repeat-x;
	background-position: top left;
	height: 72px;
	width: 100%;
}
.divider-discover {
	background-image: url("data:image/svg+xml,%3Csvg width='33' height='34' viewBox='0 0 33 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.9978 0H20.3292H11.6639H0V34H11.6686H20.3339H32.0025V0H31.9978ZM11.6686 2.00222H20.3339V11.2531L15.9989 15.5833L11.6686 11.2531V2.00222ZM1.00111 2.00222H9.66639V10.6675H1.00111V2.00222ZM9.66639 31.9978H1.00111V23.3325H9.66639V31.9978ZM10.2519 21.335H1.00111V12.6697H10.2519L14.5822 17L10.2519 21.335ZM20.3292 31.9978H11.6639V22.7469L15.9942 18.4167L20.3244 22.7469V31.9978H20.3292ZM30.9967 31.9978H22.3314V23.3325H30.9967V31.9978ZM30.9967 21.335H21.7458L17.4156 17L21.7458 12.6697H30.9967V21.335ZM22.3314 10.6675V2.00222H30.9967V10.6675H22.3314V10.6675Z' fill='%23AC7D2C'/%3E%3C/svg%3E%0A");
	background-repeat: repeat-x;
	background-position: top left;
	height: 34px;
	width: 100%;
	margin-bottom: 1rem;
	@include media-breakpoint-up(lg) {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68' height='72' fill='none'%3E%3Cpath fill='%23AC7D2C' d='M67.76 0H0v72h67.76V0zM2.12 4.24h29.64v12.7H14.82v16.94H2.12V4.24zM48.7 21.18v29.64H19.06V21.18H48.7zM31.76 67.76H2.12V38.12h12.7v16.94h16.94v12.7zm33.88 0H36v-12.7h16.94V38.12h12.7v29.64zm-12.7-33.88V16.94H36V4.24h29.64v29.64h-12.7z'/%3E%3C/svg%3E");
		height: 85px;
	}
}
.divider-gold {
	background-repeat: repeat-x;
	background-position: top left;
	height: 37px;
	width: 100%;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 34 37'%3E%3Cdefs/%3E%3Cpath fill='%23AC7D2C' d='M34 0H0v36.1275h34V0zM1.06375 2.12751H15.9362V8.5H7.43624V17H1.06375V2.12751zM24.4362 10.6275V25.5H9.56375V10.6275H24.4362zM15.9362 34H1.06375V19.1275h6.37249v8.5h8.49996V34zm17 0H18.0638v-6.3725h8.5v-8.5h6.3724V34zm-6.3724-17V8.5h-8.5V2.12751h14.8724V17h-6.3724z'/%3E%3C/svg%3E");
	@include media-breakpoint-up(lg) {
		background-image: url("data:image/svg+xml,%3Csvg width='68' height='72' viewBox='0 0 68 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M67.76 0H0V72H67.76V0ZM2.12 4.24H31.76V16.94H14.82V33.88H2.12V4.24ZM48.7 21.18V50.82H19.06V21.18H48.7ZM31.76 67.76H2.12V38.12H14.82V55.06H31.76V67.76ZM65.64 67.76H36V55.06H52.94V38.12H65.64V67.76ZM52.94 33.88V16.94H36V4.24H65.64V33.88H52.94Z' fill='%23AC7D2C'/%3E%3C/svg%3E%0A");
		height: 72px;
	}
}

.container-xxxl {
	margin: 0;
	padding: 0;
}

.btn-unstyled {
	background: no-repeat;
	box-shadow: none;
	outline: none;
	border: none;
	&:focus {
		background: no-repeat;
		box-shadow: none;
		outline: none;
		border: none;
	}
}

.ehunter-overlay-inner div.ehunter-modal-content{
	border-radius: 0!important;
	background-color: $gold!important;
	.ehunter-field{
		border-radius: 0!important;
		border: 0!important;
		outline: none!important;
		box-shadow: none!important;
	}
	
}

